<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cross.gcross">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".GCrossSettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GCrossActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>